body,html{
	margin: 0;
	padding: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	color: #FFFF;
	width: 100%;
	height: 100%;
}
a,h1,ul{
	text-decoration: none;
	color: #FFFF;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
a:hover{
	text-decoration: none;
	color: #FFFF;
}
p{
	text-decoration: none;
	color: #FFFF;
	margin: 0;
	padding: 0;
}
h1{
	font-size: 32px;
	text-align: center;
}
.btn {
	cursor: pointer;
	background-color: #403DC7;
	border: none;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	color: white;
}

.btn:hover{
	background-color: #110f85a3;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.header {
	min-height: 20vh;
	background-color: #403DC7;
}
.header__menu {
	display: flex;
	min-height: 50px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px auto;
}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/*---------------------------------------------- burger menu */
.menu__link {
	margin-left: 20px;
}

.menu__link:hover, .menu_link__active,.active{
	border-bottom: 1px solid white;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.burger-menu__nav {
	display: none;

}
/*---------------------*/
.header__auths {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 20px;
}
.login-auth__btn:hover {
}
.login-auth__btn:hover {
	border-bottom: 1px solid white;
}
.registration__auth:hover {
}
.reg__btn:hover {
	border-bottom: 1px solid white;
}
.sub-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 15vh;
	background-color: #3D3ABD;
}


.sub-header__image {
}

.img-main-icon{
	max-width: 160px;
	max-height: 160px;
}

.sub-header__title{
	margin-left: 40px;
	max-width: 242px;
	max-height: 100vh;
}
.search-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 40px;
	background-color: white;
	border-radius: 20px;
	padding: 0 10px 0 10px;
}
.search-field__input {
	padding: 0 10px 0 10px;
	border-radius: 20px;
	width: 500px;
	font-size: 20px;
	border-style: none;
	outline: 0;
}
.search-field__btn {

}
.btn-search {
	padding-top: 10px;
	max-height: 50px;
	border-style: none;
	cursor: pointer;
	border-radius: 20px;
}
.main {
	display: flex;
	width: 100%;
	min-height: 80vh;
	margin: 0 auto;
	background-color: #D9D9D9;
}
.container {
	flex: 1 1 auto;
	max-width: 1140px;
	padding: 40px;
	margin: 0 auto;
	background-color: rgba(40, 37, 196, 0.76);

}
.footer {
	min-height: 10vh;
	background-color: #403DC7;
}

.footer__container {
	display: flex;
	padding: 0 40px 0 40px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.copyright {
}
.socialmedia {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.socialmedia__vk-icon,.socialmedia__tg-icon{
	max-height: 50px;
	max-width: 50px;
	padding-left: 20px;
	cursor: pointer;
}
/* media */
@media screen and (max-width: 1100px) {
	.sub-header{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 20px;
	}

	.sub-header__title,.search-field{
		margin: 20px 0 20px 0;
	}

}

@media screen and (max-width: 1000px) {
	.menu__navbar,.menu__nav,.menu__link {
		display: none;
	}
	.burger-menu__nav{
		display: initial;
	}

	.burger-menu__btn-active{
		position: fixed !important;
		background-color: #3D3ABD !important;
	}
	.burger-menu__btn {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 30;
		width: 50px;
		height: 50px;
		background-color: #403DC7;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
	}
	.burger-menu__btn:hover .burger-menu__lines {
		filter: brightness(0.7);
	}
	
	.burger-menu_btn:hover {
		background-color: rgba(71, 157, 206, 0.721);
	}
	
	.burger-menu__lines::before,
	.burger-menu__lines::after,
	.burger-menu__lines {
		position: absolute;
		width: 25px;
		height: 3px;
		background-color: #ffffff;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
	}
	.burger-menu__lines {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.burger-menu__lines::before {
		content: '';
		top: -12px;
	}
	.burger-menu__lines::after {
		content: '';
		top: 12px;
	}
	.burger-menu__active .burger-menu__lines {
		background-color: transparent;
	}
	.burger-menu__active .burger-menu__lines::before {
		top: 0;
		transform: rotate(45deg);
	}
	.burger-menu__active .burger-menu__lines::after{
		top: 0;
		transform: rotate(-45deg);
	}
	
	.burger-menu__nav {
		padding-top: 120px;
		position: fixed;
		top: 0;
		z-index: 20;
		display: flex;
		flex-flow: column;
		height: 100%;
		right: 100%;
		background-color: #3D3ABD;
		overflow-y: auto;
		left: 0;
		-webkit-transition: 0.8s;
		-moz-transition: 0.8s;
		-o-transition: 0.8s;
		transition: 0.8s;
	}
	.burger-menu__active .burger-menu__nav {
		right: 40%;
		-webkit-transition: 0.4s;
		text-align: center;
		-moz-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
	}
	.burger-menu__link {
		padding: 40px;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-weight: 400;
	}
	.burger-menu__link:hover {
		text-decoration: underline white;
	}
	.burger-menu__overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
	.burger-menu__active .burger-menu__overlay {
		display: block;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.search-field__input {
		padding: 0 10px 0 10px;
		border-radius: 20px;
		width: 600px;
		font-size: 20px;
		border-style: none;
		outline: 0;
	}
	.burger-menu_button:hover {
		background-color: rgba(71, 156, 206, 0.329);
	}
}

@media screen and (max-width: 750px) {

	.search-field__input {
		padding: 0 10px 0 10px;
		border-radius: 20px;
		width: 300px;
		font-size: 20px;
		border-style: none;
		outline: 0;
	}
	.burger-menu__link {
		padding: 40px;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-weight: 400;
	}
	.active{
		border-bottom: 1px solid white;
		border-top: 1px solid white;
	}
}




/* ----------------------------------------   FileReader   ------------------------------------------ */
.file-selector{
	border: 5px dashed red;
	width: 240px;
	height: 272px;
}
.file-selector-input {
	width: 154px;
	display: flex;
	padding-left: 20px;
}

.file-selector-input::file-selector-button { 
   display: none; 
}